<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443273042691-m25cm8t6qtkgq5lg5dh26jps19a3va2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443273042691-m25cm8t6qtkgq5lg5dh26jps19a3va2a</string>
	<key>API_KEY</key>
	<string>AIzaSyD3nvB00q5zwDWP8rBzqQl1vIHB0QrbGOE</string>
	<key>GCM_SENDER_ID</key>
	<string>443273042691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helpbuddy</string>
	<key>PROJECT_ID</key>
	<string>helpbuddy-79264</string>
	<key>STORAGE_BUCKET</key>
	<string>helpbuddy-79264.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443273042691:ios:c52ac03116acd6da286736</string>
</dict>
</plist>